footer {
    border-style: solid;
    height: 50px;
    background-color: #999;
  }
.footer-text {
    color: #BF0000;
    font-size: smaller;
  }
html body main {
    height: 100%
}

.bg-black{background-color: black ;}