{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %} 

{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Aurix</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('search') }}">Search</a></li>
      </ul>
    </div>
  </nav>
  {% block content %}{% endblock %}
{% endblock %}