{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js
></script>
{% endblock %} 

{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Aurix</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('search') }}">Search</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="display-4" style="text-align:center; color: #BF0000">Aurix Analytics: Direccion Nacional de Control de Drogas</h1>
  {% block content %}{% endblock %}
{% endblock %}