{% extends 'base.html' %}

{% block content %}
<div id="dashboardCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <h2 style="text-align: center;"><u>{{ legend1 }}</u></h2>
      <canvas id="{{ legend1 }}" width="" height=""></canvas>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <h2 style="text-align: center;"><u>{{ legend2 }}</u></h2>
      <canvas id="{{ legend2 }}" width="" height=""></canvas>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <h2 style="text-align: center;"><u>{{ legend3 }}</u></h2>
      <canvas id="{{ legend3 }}" width="" height=""></canvas>
    </div>
  </div>
  <a class="carousel-control-prev" href="#dashboardCarousel" role="button" data-bs-slide="prev">
  </a>
  <a class="carousel-control-next" href="#dashboardCarousel" role="button" data-bs-slide="next">
  </a>
    <ol class="carousel-indicators" style="bottom: -50px;">
    <li data-bs-target="#dashboardCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#dashboardCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#dashboardCarousel" data-bs-slide-to="2"></li>
  </ol> 
</div>
  <script>
Chart.defaults.global.responsive = true;
Chart.defaults.global.legend.display = false;

var chartData1 = {
      labels : [{% for item in labels1 %}
              "{{item}}",
             {% endfor %}],
      datasets : [{
      label: '',
      data : [{% for item in values1 %}
                   {{item}},
              {% endfor %}],
      borderColor: '#B80F0A',
      backgroundColor: '#B80F0A80'
   }]
 }

 var ctx1 = document.getElementById("{{ legend1 }}").getContext("2d");
 var presosPorMes = new Chart(ctx1, {
   type: 'line',
   data: chartData1,
 }); 

 var chartData2 = {
      labels : [{% for item in labels2 %}
                "{{item}}",
              {% endfor %}],
      datasets : [{
      label: '',
      data: [{% for item in values2 %}
                  {{item}},
             {% endfor %}],
      borderWidth: 2,
      borderColor: '#B80F0A',
      backgroundColor: '#B80F0A80'
   }]
 }
 var ctx2 = document.getElementById("{{ legend2 }}").getContext("2d");
 var presosPorMes = new Chart(ctx2, {
   type: 'bar',
   data: chartData2,
 }); 

 var chartData3 = {
      labels : [{% for item in labels3 %}
                "{{item}}",
              {% endfor %}],
      datasets : [{
      label: '',
      data: [{% for item in values3 %}
                  {{item}},
             {% endfor %}],
      borderWidth: 2,
      borderColor: '#B80F0A',
      backgroundColor: '#B80F0A80'
   }]
 }
 var ctx3 = document.getElementById("{{ legend3 }}").getContext("2d");
 var presosPorMes = new Chart(ctx3, {
   type: 'horizontalBar',
   data: chartData3,
 }); 
  </script>
{% endblock %}