{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
    {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container-fluid">
<h1>Search</h1>
    <div class="col-md-4">
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-md-6">
              {{ wtf.form_field(form.nombre, class='form-control', 
                 placeholder='Nombre') }}
            </div>
            <div class="form-group col-md-6">
              {{ wtf.form_field(form.noid, class='form-control', 
                 placeholder='Cedula o Pasaporte') }}
            </div>
        </div>
        
        <br>
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </form>
    </div>
    <br>
{% if condition %}
     <div class="table-responsive" style="overflow-y: scroll; height: 70vh;">
    {{ condition|safe }}
          </div>
{% endif %}
{% endblock %}
